<section class="wrapper" aria-labelledby="titreContact">
  <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
    <h2 id="titreContact" class="mb-4 text-4xl tracking-tight font-bold text-center text-white">
      Contactez nous
    </h2>
    <p class="mb-4 lg:mb-16 font-light text-center text-gray-100 sm:text-lg">
      Besoin d'aide sur l'application? Vous souhaitez une scéance de méditation
      bien précise? vous souhaitez accèder, rectifier ou supprimer vos données
      personnelles...
    </p>
    <form (submit)="sendEmail($event)" class="space-y-4">
      <div>
        <label for="email" class="block mb-2 text-base font-bold text-gray-100"
          >Votre adresse mail</label
        >
        <input
          type="email"
          id="email"
          [(ngModel)]="email"
          name="email"
          (ngModelChange)="validateEmail()"
          class="shadow-sm bg-gray-50 border text-gray-900 text-base rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2"
          placeholder="prénom.nom@sncf.com"
        />
        <p *ngIf="emailInvalid" class="text-xs text-red-900">
          Format d'email invalide
        </p>
      </div>
      <div>
        <label for="subject" class="block mb-2 text-base font-bold text-gray-100"
          >Sujet</label
        >
        <input
          type="text"
          id="subject"
          [(ngModel)]="subject"
          name="subject"
          [class.error-border]="subjectRequired"
          class="block p-2 w-full text-base text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500"
          placeholder="Quel sujet souhaitez vous aborder"
          required
        />
      </div>
      <div class="sm:col-span-2">
        <label for="message" class="block mb-2 text-base font-bold text-gray-100"
          >Votre message</label
        >
        <textarea
          id="message"
          rows="4"
          [(ngModel)]="message"
          name="message"
          [class.error-border]="messageRequired"
          class="block p-2 w-full text-base text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500"
          placeholder="Tapez votre message ici..."
          required
        ></textarea>
      </div>
      <div>
        <label class="block mb-2 text-base font-bold text-gray-100">
          Etes vous un humain? Résolvez ce calcul: {{ num1 }} + {{ num2 }}
        </label>
        <input
          type="number"
          [(ngModel)]="userAnswer"
          name="userAnswer"
          class="block p-2 w-full text-base text-gray-900 bg-gray-50 rounded-lg shadow-sm"
          placeholder="Votre réponse"
        />
        <input
          type="checkbox"
          class="checkbox"
          (change)="checkAnswer()"
          id="answerCheck"
          name="answerCheck"
        />
        <label for="answerCheck" class="ml-2 text-base font-bold text-gray-100"
          >Cochez pour valider la réponse et afficher le boutton d'envoi</label
        >
      </div>

      <!-- Bouton Envoyer (affiché uniquement si la réponse est correcte) -->
      <button
        *ngIf="showSubmitButton"
        type="submit"
        class="w-full inline-flex justify-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none"
      >
        Envoyer
      </button>
    </form>
  </div>
  <div
    *ngIf="showErrorModal"
    class="fixed inset-0 bg-gray-500 bg-opacity-75 flex justify-center items-center"
    aria-labelledby="modal-title"
    role="dialog"
    aria-modal="true"
  >
    <div
      class="bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:max-w-lg w-full"
    >
      <div class="px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
        <div class="sm:flex sm:items-start">
          <div class="text-center sm:text-left">
            <h3
              class="text-lg leading-6 font-medium text-gray-900"
              id="modal-title"
            >
              {{ modalTitle }}
            </h3>
            <div class="mt-2">
              <p class="text-sm text-gray-500">{{ errorMessage }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse">
        <button
          type="button"
          (click)="closeErrorModal()"
          class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-blue-700 text-base font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:ml-3 sm:w-auto sm:text-sm"
        >
          Fermer
        </button>
      </div>
    </div>
  </div>
</section>
