<body>
  <div class="wrapper">
    <div class="box-container">
      <div class="box">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
      <div class="svg-container">
      <div id="currentImage" class="svg-figure opacity-transition">
        <object [data]="currentImage" type="image/svg+xml" width="200" height="200%"></object>
      </div>
      <div id="nextImage" class="svg-figure opacity-transition">
        <!-- Image suivante sera affichée ici -->
      </div>
    </div>
  </div>
</body>
