<body>
  <div class="wrapper">
    <div class="box-container">
      <div class="box">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <div class="content">
      <h1>Bienvenue sur RailZen</h1>
      <p>"Bienvenue dans le monde apaisant de RailZen. Nous vous offrons un refuge de calme où vous pouvez vous ressourcer. Plongez dans notre univers de méditation pour une expérience de paix intérieure."</p>
      <div class="button-container">
        <button class="btn btn-primary" [routerLink]="['/connect']">CONNEXION</button>
        <button class="btn btn-secondary" [routerLink]="['/subscribe']">INSCRIPTION</button>
      </div>
    </div>
    <div class="svg-container">
      <div id="currentImage" class="svg-figure opacity-transition" [ngClass]="{ 'visible': isCurrentImageVisible, 'hidden': !isCurrentImageVisible }">
        <object [data]="currentImage" type="image/svg+xml" width="200" height="200%"></object>
      </div>
      <div id="nextImage" class="svg-figure opacity-transition" [ngClass]="{ 'visible': !isCurrentImageVisible, 'hidden': isCurrentImageVisible }">
        <!-- Image suivante sera affichée ici -->
      </div>
    </div>
  </div>
</body>
