<body>
  <div class="wrapper">
    <h1>INSCRIPTION</h1>
    <form
      class="formSubscribe"
      [formGroup]="subscribeForm"
      (submit)="onSubmit()"
    >
      <div class="mb-1">
        <label for="inputLastName" class="form-label">Nom</label>
        <input
          type="text"
          class="form-control"
          id="inputLastName"
          formControlName="inputLastName"
          required
        />
      </div>
      <div class="mb-1">
        <label for="inputFirstName" class="form-label">Prénom</label>
        <input
          type="text"
          class="form-control"
          id="inputFirstName"
          formControlName="inputFirstName"
          required
        />
      </div>
      <div class="mb-1">
        <label for="inputEmail" class="form-label">Adresse mail</label>
        <input
          type="email"
          class="form-control"
          id="inputEmail"
          formControlName="inputEmail"
          required
        />
      </div>
      <div class="mb-1">
        <label for="inputPassword" class="form-label">Mot de passe</label>
        <input
          type="password"
          class="form-control"
          id="inputPassword"
          formControlName="inputPassword"
        />
      </div>
      <div class="mb-1">
        <label for="inputConfirmPassword" class="form-label"
          >Confirmez le mot de passe</label
        >
        <input
          type="password"
          class="form-control"
          id="inputConfirmPassword"
          formControlName="inputConfirmPassword"
        />
      </div>

      <button type="submit" class="btn btn-primary">S'ENREGISTRER</button>
    </form>
    <!-- Modal -->
    <div
      class="modal fade"
      id="subscribeModal"
      tabindex="-1"
      aria-labelledby="subscribeModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="subscribeModalLabel">
              Inscription réussie
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">Vous êtes desormais prets à méditer! "Vos données personnelles sont exclusivement traitées par Rail Zen et ne seront ni divulguées à des tiers ni utilisées à d'autres fins que votre connexion à l'application."</div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
              [routerLink]="['/home']"
            >
              Fermer
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Error Modal -->
    <div
      class="modal fade"
      id="errorModal"
      tabindex="-1"
      aria-labelledby="errorModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="errorModalLabel">
              Erreur de connexion
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            Une erreur est survenue lors de l'inscription. Veuillez réessayer.
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Fermer
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
