<div class="h-2 container "></div>
<div class="flex flex-wrap justify-center bg-red-lightest">
  <div class="bg-with-soft-gradient shadow-lg rounded-lg w-full md:max-w-xl lg:max-w-3xl mx-4 my-4">
    <div class="flex flex-col md:flex-row">
    <div class="md:w-1/2 ">
   <div class="image-container">
          <img class="image-zoom w-full rounded md:block" [src]="randomImage" alt="Diaporama">
        </div>
</div>
      <div class="w-full p-8">
        <div class="flex justify-between">
          <div>
            <h3 class="text-2xl text-grey-darkest font-medium">{{ session.title }}</h3>
            <p class="text-sm text-grey mt-1">{{ session.description }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="mx-8 py-4 ">
     <div class="audio-container mt-1">
  <audio *ngIf="meditAudio" controls>
    <source [src]="meditAudio" type="audio/mpeg">
    Votre navigateur ne supporte pas l'élément audio.
  </audio>
</div>
    </div>
  </div>
</div>
