<div class="container">
  <div class="flex flex-wrap justify-center bg-red-lightest">
    <div
      class="bg-with-soft-gradient shadow-lg rounded-lg w-full md:max-w-xl lg:max-w-3xl mx-4 my-4"
    >
      <div class="flex flex-col md:flex-row">
        <div class="md:w-1/2">
          <!-- Utilisez les initiales de l'utilisateur comme "image" -->
          <div
            class="h-48 bg-blue-500 flex items-center justify-center rounded-t md:rounded-l md:rounded-t-none"
          >
            <span class="text-6xl text-white font-semibold">
              {{ getInitials() }}
            </span>
          </div>
        </div>
        <div class="w-full p-8">
          <div class="flex flex-col md:flex-row place-content-evenly">
            <div>
              <div class="mt-2 flex space-between">
                <h3 class="text-2xl text-grey-600 font-bold">
                  Profil utilisateur
                </h3>
                <button
                  (click)="logout()"
                  type="button"
                  class="svg-button svg-logout ml-2"
                >
                  <img
                    src="/assets/img/icons/logout.svg"
                    alt="Se déconnecter"
                  />
                </button>
                <button
                  (click)="confirmDelete()"
                  type="button"
                  class="svg-button svg-delete"
                >
                  <img src="/assets/img/icons/thrash.svg" alt="supprimer" />
                </button>
                <button
                  *ngIf="!isEditing"
                  (click)="editUser()"
                  type="button"
                  class="svg-button"
                >
                  <img src="/assets/img/icons/edit.svg" alt="Modifier" />
                </button>
              </div>
              <div class="border-gray-200">
                <dl *ngIf="!isEditing; else editModeTemplate">
                  <div
                    class="px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
                  >
                    <dt class="text-sm font-bold text-gray-1000">Nom:</dt>
                    <dd class="text-sm text-gray-700 sm:mt-0 sm:col-span-2">
                      {{ user?.last_name }}
                    </dd>
                  </div>
                  <div
                    class="px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
                  >
                    <dt class="text-sm font-bold text-gray-1000">Prénom:</dt>
                    <dd class="text-sm text-gray-700 sm:mt-0 sm:col-span-2">
                      {{ user?.first_name }}
                    </dd>
                  </div>
                  <div
                    class="px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
                  >
                    <dt class="text-sm font-bold text-gray-1000">Email:</dt>
                    <dd class="text-sm text-gray-700 sm:mt-0 sm:col-span-2">
                      {{ user?.email }}
                    </dd>
                  </div>
                </dl>
                <ng-template #editModeTemplate>
                  <div
                    class="px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
                  >
                    <dt class="text-sm font-bold text-gray-1000">Nom:</dt>
                    <dd class="text-sm sm:mt-0 sm:col-span-2">
                      <input
                        [(ngModel)]="user!.last_name"
                        type="text"
                        class="form-control"
                      />
                    </dd>
                  </div>
                  <div
                    class="px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
                  >
                    <dt class="text-sm font-bold text-gray-1000">Prénom:</dt>
                    <dd class="text-sm sm:mt-0 sm:col-span-2">
                      <input
                        [(ngModel)]="user!.first_name"
                        type="text"
                        class="form-control"
                      />
                    </dd>
                  </div>
                  <div
                    class="px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
                  >
                    <dt class="text-sm font-bold text-gray-1000">Email:</dt>
                    <dd class="text-sm sm:mt-0 sm:col-span-2">
                      <input
                        [(ngModel)]="user!.email"
                        type="email"
                        class="form-control"
                      />
                    </dd>
                  </div>
                  <div
                    class="px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
                  >
                    <dt class="text-sm font-bold text-gray-1000">
                      Nouveau mot de passe:
                    </dt>
                    <dd class="text-sm sm:mt-0 sm:col-span-2">
                      <input
                        [(ngModel)]="newPassword"
                        type="password"
                        class="form-control"
                      />
                      <p class="text-xs text-gray-600"> laissez vide si vous ne changez pas.</p>
                    </dd>
                  </div>
                  <div
                    class="px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6"
                  >
                    <dt class="text-sm font-bold text-gray-1000">
                      Confirmer mot de passe :
                    </dt>
                    <dd class="text-sm sm:mt-0 sm:col-span-2">
                      <input
                        [(ngModel)]="confirmPassword"
                        type="password"
                        class="form-control"

                      />
                      <p class="text-xs text-gray-600"> laissez vide si vous ne changez pas.</p>
                    </dd>
                  </div>
                  <div class="flex justify-end mt-4">
                    <button
                      (click)="cancelEdit()"
                      class="btn btn-secondary mr-2"
                    >
                      Annuler
                    </button>
                    <button (click)="saveUser()" class="btn btn-primary">
                      Enregistrer
                    </button>
                  </div>
                </ng-template>
              </div>
              <!-- Buttons -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="favoriteSessions.length < 1">
    <h1 class="text-2xl font-bold text-center">Mes scéances favorites</h1>
    <div class="text-center py-3">
      <p>Vous n'avez pas encore de scéances favorites...</p>
    </div>
  </div>
  <div *ngIf="favoriteSessions.length > 0">
    <h1 class="text-3xl font-bold text-center">Mes scéances favorites</h1>
    <div *ngFor="let session of favoriteSessions">
      <app-session-card
        [session]="session"
        (favoriteChanged)="subscribeToFavorites()"
      ></app-session-card>
    </div>
  </div>
</div>

<!-- Confirmation Modal -->

<div
  class="fixed z-10 inset-0 overflow-y-auto"
  aria-labelledby="modal-title"
  role="dialog"
  aria-modal="true"
  style="display: none"
></div>
