
 .container{
    padding: 6rem 0; /* Ajoutez du padding en haut et en bas si nécessaire */}
.container::before {
  content: "";
  position: fixed; /* Fixe le pseudo-élément par rapport à la fenêtre du navigateur */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #24C6DC, #514A9D);
  z-index: -1; /* Place le fond derrière le contenu */
}
.bg-with-soft-gradient {
  background: linear-gradient(
    to bottom, 
    rgba(255, 255, 255, 0.8) 10%, 
    rgba(255, 255, 255, 0.6) 40%, 
    rgba(255, 255, 255, 0.3) 80%
  );
}
