<body>
  <section class="bg-white">
    <div
      class="grid py-6 px-4 mx-auto max-w-screen-xl lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12"
    >
      <div class="place-self-center mr-auto lg:col-span-7">
        <h1
          class="mb-4 max-w-2xl text-4xl font-extrabold leading-none md:text-5xl xl:text-6xl"
        >
          La méditation par RAILZEN
        </h1>
        <p
          class="mb-6 max-w-2xl font-medium text-gray-700 lg:mb-8 md:text-lg lg:text-xl"
        >
          L'application de méditation pour les cheminots par des cheminots.
        </p>
        <p
          class="mb-6 max-w-2xl font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl"
        >
          Les sources de stress au travail peuvent varier en fonction du secteur
          d'activité et des spécificités de chaque emploi. Chez les cheminots
          travaillant à la SNCF ou dans le secteur ferroviaire en général,
          RAILZEN s'applique à proposer des scéances de méditation pour chaque
          situation de stress ou mal-être au travail rencontrée.
        </p>
      </div>
      <div class="lg:mt-0 lg:col-span-5 lg:flex">
        <img src="/assets/img/illustrations/apponphone.png" alt="mockup" />
      </div>
    </div>
  </section>

  <section class="bg-gray-50">
    <div class="py-6 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
      <div class="mb-8 max-w-screen-md lg:mb-16">
        <h2 class="mb-4 text-4xl font-extrabold text-gray-900 e">
          Le stress au travail... Une réalité!
        </h2>
        <p class="text-gray-500 sm:text-xl">
          Dans l'univers exigeant du secteur ferroviaire, la gestion du stress
          est essentielle pour maintenir la santé mentale et le bien-être des
          cheminots. Une application dédiée aux séances de méditation et pouquoi
          pas d'autohypnose et de cohérence cardiaque par la suite pourrait
          offrir un moyen pratique et efficace pour relever ce défi. En
          fournissant des outils pour calmer l'esprit, favoriser la
          concentration et réguler les émotions, une telle application pourrait
          jouer un rôle crucial dans l'amélioration de la qualité de vie
          professionnelle des cheminots et dans la préservation de leur santé
          mentale à long terme.
        </p>
        <h3 class="mb-4 text-2xl font-extrabold text-gray-900 e">
          Nous avons reprtoriées 6 catégories principales
        </h3>
      </div>
      <div
        class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0"
      >
        <div>
          <div
            class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12"
          >
            <img src="\assets\img\icons\zen_blue.svg" class="svg-icons" />
          </div>
          <h3 class="mb-2 text-xl font-bold">Les atteintes</h3>
          <p class="text-gray-500">
            Responsabilité de la sûreté et interactions tendues avec les
            voyageurs exigent résilience et gestion des conflits pour les
            cheminots.
          </p>
        </div>
        <div>
          <div
            class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12"
          >
            <img src="\assets\img\icons\zen_blue.svg" class="svg-icons" />
          </div>
          <h3 class="mb-2 text-xl font-bold">Les pressions</h3>
          <p class="text-gray-500">
            Respecter les horaires stricts, atteindre des objectifs de
            performance crée une pression constante sur les travailleurs du
            rail.
          </p>
        </div>
        <div>
          <div
            class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12"
          >
            <img src="\assets\img\icons\zen_blue.svg" class="svg-icons" />
          </div>
          <h3 class="mb-2 text-xl font-bold">Le sommeil</h3>
          <p class="text-gray-500">
            Les nuit et horaires flexibles et décalés perturbent le cycle
            naturel du sommeil, essentiel pour la récupération et la vigilance
            des cheminots.
          </p>
        </div>
        <div>
          <div
            class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12"
          >
            <img src="\assets\img\icons\zen_blue.svg" class="svg-icons" />
          </div>
          <h3 class="mb-2 text-xl font-bold">Les situations d'urgence</h3>
          <p class="text-gray-500">
            Les nuit et horaires flexibles et décalés perturbent le cycle
            naturel du sommeil, essentiel pour la récupération et la vigilance
            des cheminots.
          </p>
        </div>
        <div>
          <div
            class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12"
          >
            <img src="\assets\img\icons\zen_blue.svg" class="svg-icons" />
          </div>
          <h3 class="mb-2 text-xl font-bold">Les changements</h3>
          <p class="text-gray-500">
            Restructurations et changements organisationnels et concurrence
            imposent une adaptation continue, source d'incertitude pour les
            cheminots.
          </p>
        </div>
        <div>
          <div
            class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12"
          >
            <img src="\assets\img\icons\zen_blue.svg" class="svg-icons" />
          </div>
          <h3 class="mb-2 text-xl font-bold">La détente en général</h3>
          <p class="text-gray-500">
            La gestion du stress passe par des moments de détente, essentiels
            pour maintenir l'équilibre mental et physique des cheminots.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-gray-50">
    <div class="py-6 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
      <div class="mx-auto max-w-screen-sm text-center">
        <h2 class="mb-4 text-4xl font-extrabold leading-tight text-gray-900">
          Commencez votre experience de meditation au travail
        </h2>
        <p class="mb-6 font-light text-gray-500 md:text-lg">
          Cette application est accessible à tous les cheminots du groupe SNCF.
        </p>
        <a
          href="#"
          class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 focus:outline-none"
          >Free trial for 30 days</a
        >
      </div>
    </div>
  </section>
</body>
