<body>
  <div class="wrapper">
    <h1>CONNEXION</h1>
        
    <form [formGroup]="loginForm" (submit)="onSubmit()">
      <div class="mb-3">
        <label for="email" class="form-label">Adresse mail</label>
        <input
          type="email"
          class="form-control"
          id="email"
          aria-describedby="emailHelp"
          formControlName="email"
          autocomplete="email"
          required
        />
        <div id="emailHelp" class="form-text">
          "Nous ne partagerons jamais votre Email"
        </div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label"
          >Mot de passe</label
        >
        <input type="password" class="form-control" id="password" formControlName="password" autocomplete="current-password"
                required/>
      </div>
        <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">CONNEXION</button>
    </form>
    <!-- Modal -->
    <div
      class="modal fade"
      id="loginModal"
      tabindex="-1"
      aria-labelledby="loginModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="loginModalLabel">Connexion réussie</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">Vous êtes maintenant connecté!</div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
              [routerLink]="['/category']"
            >
              Fermer
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Error Modal -->
    <div
      class="modal fade"
      id="errorModal"
      tabindex="-1"
      aria-labelledby="errorModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="errorModalLabel">
              Erreur de connexion
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            Une erreur est survenue lors de la connexion. Veuillez réessayer.
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Fermer
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
