<section class="bg-white" aria-labelledby="titreInfosLegales">
  <div class="py-6 px-4  mx-auto max-w-screen-xl">
    <div class="text-center">
      <h1 id="titreInfosLegales" class="mb-4 text-4xl font-extrabold text-gray-900">
        Informations Légales pour l'Application RAILZENN
      </h1>
      <p class="mb-6 font-light text-gray-500 md:text-lg">
        Date d'entrée en vigueur : 01/12/2023
      </p>
    </div>

    <div class="mb-8 max-w-screen-md mx-auto">
      <h2 class="mb-4 text-2xl font-bold text-gray-900">
        1. A propos de RAILZEN
      </h2>
      <p class="text-gray-500 mb-4">
        L'application RAILZEN est un projet de fin d'étude développé par Maxime
        Lenfant, dans le cadre de sa formation pour l'obtention du titre de
        Développeur Web et Web Mobile à l'école Simplon de Montreuil. Cette
        application a été conçue pour offrir des séances de méditation aux
        cheminots, en vue de les aider à gérer le stress et améliorer leur
        bien-être au travail.
      </p>

      <h2 class="mb-4 text-2xl font-bold text-gray-900">2. Statut du Projet</h2>
      <p class="text-gray-500 mb-4">
        RAILZEN est actuellement un projet académique et n'est pas destiné à un
        déploiement commercial. L'application a été développée dans un but
        éducatif et démonstratif et n'est pas destinée à être utilisée comme un
        produit ou service commercial.
      </p>

      <h2 class="mb-4 text-2xl font-bold text-gray-900">
        3. Propriété Intellectuelle
      </h2>
      <p class="text-gray-500 mb-4">
        Le contenu, la conception, les idées, et les fonctionnalités de
        l'application RAILZEN sont la propriété exclusive de Maxime Lenfant.
        Toute reproduction, distribution, ou utilisation à des fins autres que
        celles éducatives et démonstratives nécessite une autorisation écrite
        préalable.
      </p>

      <h2 class="mb-4 text-2xl font-bold text-gray-900">
        4. Limitation de Responsabilité
      </h2>
      <p class="text-gray-500 mb-4">
        L'application RAILZEN est fournie « telle quelle », sans garantie
        d'aucune sorte. Bien que développée avec soin, il n'y a aucune garantie
        que l'application répondra à des besoins spécifiques ou qu'elle sera
        exempte d'erreurs ou de dysfonctionnements. L'auteur du projet n'est pas
        responsable des dommages directs ou indirects pouvant résulter de son
        utilisation.
      </p>

      <h2 class="mb-4 text-2xl font-bold text-gray-900">5. Contact</h2>
      <p class="text-gray-500">
        Pour toute question ou préoccupation concernant ces informations
        légales, veuillez nous contacter par le biais de notre page
        <a [routerLink]="['/contact']" aria-label="Page de contact de RAILZEN">Contact</a>
      </p>
    </div>
  </div>
</section>
