.wrapper{
  padding-top: 100px;
}
/* Styles pour les boutons avec images SVG */
.svg-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}

.svg-button img {
  width: 20px; /* Ajustez selon la taille souhaitée */
  height: auto;
  transition: transform 0.3s ease;
}

svg-delete:hover img{
transform: scale(1.2);
color: red
}
svg-logout:hover img{
  transform: scale(1.2);
color: red
};

@media (max-width: 640px) { /* ou utilisez 'sm' de Tailwind si vous préférez */
  .table-responsive {
    display: block;
  }

  .table-responsive thead {
    display: none; /* Cache l'en-tête du tableau sur les petits écrans */
  }

  .table-responsive tbody tr {
    display: block;
    margin-bottom: 0.625rem; /* Espacement entre les cartes */
  }

  .table-responsive tbody tr td {
    display: block;
    text-align: right;
    padding-left: 50%; /* Ajustez selon le contenu */
    position: relative;
  }

  .table-responsive tbody tr td::before {
    
    position: absolute;
    left: 0;
    width: 50%; /* Ajustez selon le contenu */
    padding-left: 15px;
    font-weight: bold;
    text-align: left;
  }

}



  
  