<section class="bg-white" aria-labelledby="titrePolitiqueConfidentialite">
  <div class="py-6 px-4 mx-auto max-w-screen-xl">
    <div class="text-center">
      <h1 id="titrePolitiqueConfidentialite" class="mb-4 text-4xl font-extrabold text-gray-900">
        Politique de Confidentialité de RAILZEN
      </h1>
      <p class="mb-6 font-light text-gray-500 md:text-lg">
        Date d'entrée en vigueur : 01/12/2023
      </p>
    </div>

    <div class="mb-8 max-w-screen-md mx-auto">
      <h2 class="mb-4 text-2xl font-bold text-gray-900">
        1. Informations Collectées
      </h2>
      <p class="text-gray-500 mb-4">
        Nous collectons les informations suivantes lors de votre inscription et
        utilisation de l'application RAILZEN :
      </p>
      <ul class="list-disc list-inside mb-4 text-gray-500">
        <li>Nom</li>
        <li>Prénom</li>
        <li>Adresse e-mail</li>
        <li>Mot de passe</li>
      </ul>

      <h2 class="mb-4 text-2xl font-bold text-gray-900">
        2. Utilisation des Informations
      </h2>
      <p class="text-gray-500 mb-4">
        Vos informations sont utilisées uniquement dans le but de vous fournir
        un accès sécurisé à l'application et pour améliorer votre expérience
        utilisateur. Cela inclut :
      </p>
      <ul class="list-disc list-inside mb-4 text-gray-500">
        <li>La gestion de votre compte et de votre profil</li>
        <li>L'envoi de communications importantes concernant l'application</li>
        <li>L'amélioration de nos services et fonctionnalités</li>
      </ul>
      <h2 class="mb-4 text-2xl font-bold text-gray-900">
        3. Sécurité des Données
      </h2>
      <p class="text-gray-500 mb-4">
        Nous prenons la sécurité des données très au sérieux. RAILZEN met en
        œuvre des mesures de sécurité techniques et organisationnelles
        appropriées pour protéger vos informations personnelles contre l'accès
        non autorisé, la modification, la divulgation ou la destruction.
      </p>

      <h2 class="mb-4 text-2xl font-bold text-gray-900">
        4. Accès et Modification de Vos Informations
      </h2>
      <p class="text-gray-500 mb-4">
        En tant qu'utilisateur, vous avez le droit d'accéder, de modifier ou de
        supprimer vos informations personnelles à tout moment via votre
        interface utilisateur sur l'application.
      </p>

      <h2 class="mb-4 text-2xl font-bold text-gray-900">
        5. Non-Divulgation des Informations
      </h2>
      <p class="text-gray-500 mb-4">
        RAILZEN s'engage à ne pas vendre, échanger, louer ou divulguer vos
        informations personnelles à des tiers, sauf si requis par la loi.
      </p>

      <h2 class="mb-4 text-2xl font-bold text-gray-900">
        6. Modifications de la Politique de Confidentialité
      </h2>
      <p class="text-gray-500 mb-4">
        Nous nous réservons le droit de modifier cette politique de
        confidentialité à tout moment. Toutes les modifications entreront en
        vigueur immédiatement après leur publication sur l'application ou le
        site web. Nous vous encourageons à consulter régulièrement cette
        politique pour rester informé de la manière dont nous protégeons vos
        informations.
      </p>

      <h2 class="mb-4 text-2xl font-bold text-gray-900">7. Contact</h2>
      <p class="text-gray-500">
        Pour toute question ou préoccupation concernant cette politique de
        confidentialité, veuillez nous contacter par le biais de notre page
        <a [routerLink]="['/contact']" aria-label="Page de contact de RAILZEN">Contact</a>
      </p>
    </div>
  </div>
</section>
